
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
}
body{
    background-color: #0E0D0F;
}

/* Main page banner and navigation css styles*/

.top-banner{
    background: #0E0D0F;
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.top-banner h1{
    font-size: 2.5rem;
    color: white;
    align-self: center;
    justify-self: center;
}

nav{
    border-bottom: 4px solid white;
    display: inline-block;
    width: 100%;
    text-align: center;
}

nav a{
    display: inline-block;
    font-family: 'Righteous', cursive;
    text-decoration: none;
    color: white;
    font-size: 1.15rem;
    padding: 3.75% 2%;
}


/*End of main page banner and navigation styles
Beginning of main page section styles*/


.eCoinDisplay{
    width: 100%;
    height: 60px;
    margin-top: 8px;
    display: grid;
    grid-template-areas: 
    'title change'
    'price change'
    ;
    grid-template-columns: 1fr 1fr;
    /*grid-template-columns: repeat(4, 1fr);*/
    text-decoration: none;
    background: #2E2B30;
    border-radius: 12px;
}

.title-name{
    width: 100%;
    font-size: 18px;
    grid-area: title;
    color: darkgrey;
    display: flex;
    pointer-events: none;
    text-decoration: none;
    justify-content: center;
}

.current-price{
    font-size: 1rem;
    grid-area: price;
    /*margin-top: 36px;*/
    color: darkgrey;
    display: inline-block;
    pointer-events: none;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    /*padding-left: 25%;*/
}


.legend{
    font-family: 'Righteous', cursive;
    width: 100%;
    height: 75px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.title{
    font-size: 18px;
    /*margin-top: 36px;*/
    color: darkgrey;
    display: inline-block;
    pointer-events: none;
    justify-self: center;
    align-self: center;
    text-decoration: none;
}

.volume{
    /*grid-area: volume;*/
    font-size: 18px;
    /*margin-top: 36px;*/
    color: darkgrey;
    display: none;
    pointer-events: none;
    justify-self: center;
    align-self: center;
    text-decoration: none;
}

.priceChange{
    font-size: 18px;
    color: black;
    display: inline-block;
    pointer-events: none;
    justify-self: center;
    align-self: center;
    text-decoration: none;
}

.image{
    width: 18px;
    justify-self: center;
    align-self: center;
    padding-top: 10px;
}

.negative{
    grid-area: change;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    pointer-events: none;
    text-decoration: none;
    border: 1px solid red;
    border-radius: 12px;
}

.positive{
    grid-area: change;
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    pointer-events: none;
    text-decoration: none;
    border: 1px solid green;
    border-radius: 12px;
}

/*End of main page section styles*/

.stock-graphs{
    display: flex;
    width: 90%; 
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 5%;
}

#stockGraph .graph{
    cursor: pointer;
    height: 40%;
    width: 40%;
    border-left: 2px black;
    border-bottom: 2px black;
    /*
    border-radius: 25px 25px 25px 25px;
    */
    border-style: solid;
    margin: 20px auto;
    padding: 10px;
    font-size: 30px;
    
}

.graphcanv{
    max-height: 301px;
    max-width: 604px;
}

#main-curr-graph{
    color: white;
}

#stockGraphBig .graph{
    height: 80%;
    width: 80%;
    /*
    border-left: 2px black;
    border-bottom: 2px black;
    border-radius: 25px 25px 25px 25px;
    border-style: solid;
    */
    margin: 20px auto;
    padding: 10px;
    font-size: 30px; 
}

#graphing{
    height: 90%;
    width: 90%;
}

.graphbig{
    /*max-height: 301px;
    max-width: 604px;*/
    max-height: 602px;
    max-width: 1208px;
}

.marketHealth{
    display: grid;
    margin-top: 5%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.legendHealth{
    font-family: 'Righteous', cursive;
    width: 60%;
    height: 100%;
    /*margin-top: 5%;*/
    margin-left: 5%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
    color: white;
    background-color: lightslategray;
    padding: 30px 0 30px 10px;
}

.pie-canvas{
    padding: 0;
    margin-right: 5%;
    width: 80%;
    height: 100%;
}



